<style>
  
  .input {
    /* Background */
    background-color: #FFFFFF;
    /* Font */
    color: #626262;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    /* Block */
    letter-spacing: 0.5px;
    line-height: 1.4;
    text-align: <%= /(yes)/i.test(inverse) ? "right" : "left" %>;
    /* Border */
    border: none;
    outline: none;
    /* Box */
    padding: 0;
    /* Position */
    width: 100%;
  }
  
</style>

<input
  class="input"
  type="text"
  value="<%= value || defaultvalue %>"
  maxlength="<%= max %>"
  placeholder="<%= placeholder %>">