<style>
  
  .text {
    /* Animate */
    transition: all 0.5s ease;
    /* Background */
    background-color: <%= $sandbox.$pallete.COLOR_MASTER_LIGHTING %>;
    /* Box */
    padding: 8px 10px 5px 10px;
    /* Font */
    color: <%= $sandbox.$pallete.COLOR_MASTER %>;
  }
  
  .text-focus {
    /* Animate */
    transition: all 0.5s ease;
    /* Background */
    background-color: <%= $sandbox.$pallete.COLOR_PRIMARY %>;
    /* Box */
    padding: 8px 10px 5px 10px;
    /* Font */
    color: <%= $sandbox.$pallete.COLOR_PRIMARY_LIGHTER %>;
  }
  
</style>

<div id="text" class="text">
  <bbz-label
    display="<%= display %>"
    label="<%= label %>"
    required="<%= required %>">
  </bbz-label>
  <bbz-input
    defaultvalue="<%= defaultvalue %>"
    display="<%= display %>"
    inverse="<%= inverse %>"
    mask="<%= mask %>"
    maskerrormessage="<%= maskerrormessage %>"
    max="<%= max %>"
    maxerrormessage="<%= maxerrormessage %>"
    min="<%= min %>"
    minerrormessage="<%= minerrormessage %>"
    placeholder="<%= placeholder %>"
    readonly="<%= readonly %>"
    regexp="<%= regexp %>"
    regexperrormessage="<%= regexperrormessage %>"
    required="<%= required %>"
    requirederrormessage="<%= requirederrormessage %>"
    unique="<%= unique %>"
    uniqueerrormessage="<%= uniqueerrormessage %>"
    uuid="<%= uuid %>"
    value="<%= value %>">
  </bbz-input>
</div>
<bbz-error
  uuid="<%= uuid %>">
</bbz-error>
<bbz-description
  description="<%= description %>">
</bbz-description>
