<style>

  .label {
    /* Font */
    color: inherit;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    /* Block */
    letter-spacing: 0.38px;
    line-height: 1;
    /* Position */
    width: 100%;
    /* Layout */
    display: block;
  }
  
  .label_required {
    /* Font */
    color: inherit;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    /* Block */
    line-height: 1;
    /* Box */
    margin-left: 5px;
  }
  
</style>

<label class="label">
  <%= label %>
  <% if (/(yes)/i.test(required) || /(yes)/i.test(display)) { %>
    <span class="label_required">*</span>
  <% } %>
</label>